<nav class="navbar bg-dark">
  <li class="nav-item">
    <div class="container">
      <a class="navbar-brand" href="#">
        <img src="https://png2.cleanpng.com/sh/05ddd617ecfbe117a374cf3a9cb453fc/L0KzQYm3U8IxN6ppfZH0aYP2gLBuTgNwa5pmhJ92ZXTscX70ggJsbaVuhtk2ZHnqecXojL1uaaNwfeZybnewhMb0gvxzNZ10f9G2aXPyfn76igpmNWZmeqJvYUO6RYHsWckyNmQASKkDNkm8QYa5UcU1P2k4SaU8MUSxgLBu/kisspng-social-media-marketing-digital-marketing-tumblr-logo-icon-size-5ab0fa3750e991.3907869915215478313314.png" alt="" width="70" height="90">
      </a>
    </div>
  </li>
    <ul class="nav">
      <div class="container-fluid">
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </ul>
  

    <ul class="nav class nav-pills">
  
      <li class="nav-item">
        <i class="bi bi-house"></i>
      </li>
     
      <li class="nav-item">
        <div class="container">
          <a class="navbar-brand" href="#">
            <img src="https://www.gifs.cc/home/2018-home-icon-blue.jpg" alt="" width="30" height="24">
          </a>
          <a class="navbar-brand" href="#">
            <img src="https://www.clipartmax.com/png/middle/184-1849522_compass-png-compass-rose-png-transparent-background.png" alt="" width="30" height="24">
          </a>
          <a class="navbar-brand" href="#">
            <img src="https://www.clipartmax.com/png/middle/5-52080_envelope-clipart-envelope-clip-art-at-clker-vector-clip-art-of-envelope.png" alt="" width="30" height="24">
          </a>
          <a class="navbar-brand" href="#">
            <img src="https://www.vhv.rs/dpng/d/53-530391_messages-icon-png-transparent-png.png" alt="" width="30" height="24">
          </a>
          <a class="navbar-brand" href="#">
            <img src="https://www.pinclipart.com/picdir/middle/535-5350690_clip-art-lightning-bolt-png-download.png" alt="" width="30" height="24">
          </a>
          <a class="navbar-brand" href="#">
            <img src="https://e7.pngegg.com/pngimages/1004/160/png-clipart-computer-icons-user-profile-social-web-others-blue-social-media.png" alt="" width="30" height="24">
          </a>
          <a class="navbar-brand" href="#">
            <img src="https://cdn3.iconfinder.com/data/icons/user-interface-web-1/550/web-circle-circular-round_58-512.png" alt="" width="30" height="24">
          </a>
        </div>
    </ul>
    <div class="dropdown">
      <button
        class="btn btn-secondary dropdown-toggle"
        type="button"
        data-bs-toggle="dropdown" aria-expanded="false"
        id="dropDownMenuButton1"
      >
        Username
      </button>
      <ul class="dropdown-menu dropdown-menu-dark"
      aria-labeledby="dropDownMenuButton1">
        <li><a class="dropdown-item" href="#">Account</a></li>
        <li><a class="dropdown-item" href="#">Profile</a></li>
        <li><a class="dropdown-item" href="#">Log out</a></li>
      </ul>
    </div>
  </nav>