<nav class="navbar" style="background-color:MidnightBlue;">
  <li class="nav-item">
      <a class="navbar-brand" href="#">
        <img src="https://png2.cleanpng.com/sh/05ddd617ecfbe117a374cf3a9cb453fc/L0KzQYm3U8IxN6ppfZH0aYP2gLBuTgNwa5pmhJ92ZXTscX70ggJsbaVuhtk2ZHnqecXojL1uaaNwfeZybnewhMb0gvxzNZ10f9G2aXPyfn76igpmNWZmeqJvYUO6RYHsWckyNmQASKkDNkm8QYa5UcU1P2k4SaU8MUSxgLBu/kisspng-social-media-marketing-digital-marketing-tumblr-logo-icon-size-5ab0fa3750e991.3907869915215478313314.png" alt="" width="70" height="85">
      </a> 
    </li>    
  <form class="d-flex" style = "">
    <input class="form-control me-2" type="search" placeholder="Search Tumblr" aria-label="Search">
  </form>
  
    <div class = "navbar">
          <a class="nav-link text-white " href="#">
            <svg class="bi" width="24" height="24" color="white">
                <use xlink:href="bootstrap-icons.svg#house"></use>
            </svg> 
            </a>
          <a class="nav-link text-white" href="#">
            <svg class="bi" width="24" height="24" color="white">
              <use xlink:href="bootstrap-icons.svg#compass"></use>
            </svg> 
            </a>
          <a class="nav-link text-white" href="#">
            <svg class="bi" width="24" height="24" color="white">
              <use xlink:href="bootstrap-icons.svg#envelope"></use>
            </svg> 
            </a>
          <a class="nav-link text-white" href="#">
              <svg class="bi" width="24" height="24" color="white">
                <use xlink:href="bootstrap-icons.svg#chat"></use>
              </svg> 
              </a>
          <a class="nav-link text-white" href="#">
              <svg class="bi" width="24" height="24" color="white">
                <use xlink:href="bootstrap-icons.svg#lightning-charge"></use>
                    </svg> 
                    </a>
              <a class="nav-link text-white" href="#">
                 <svg class="bi" width="24" height="24" color="white">
                    <use xlink:href="bootstrap-icons.svg#person"></use>
                  </svg> 
                  </a>
              <a class="nav-link text-primary" href="#">
                <svg class="bi" width="24" height="24" color="primary">
                      <use xlink:href="bootstrap-icons.svg#pencil"></use>
                    </svg> 
                    </a>
              </div>      
  </nav>

  <div class = "" style="
  background-image: url('https://mcdn.wallpapersafari.com/medium/85/66/UHbQ4v.png');
  height: 100vh;">

    PLACE HOLDER
  <div class="list-group"  Style = "margin-left: 1375px;">

    <a href="#" class="list-group-item list-group-item-action text-white" aria-current="true" style = "background-color: MidnightBlue;">
      <div style = "font-size: larger;">
      Check out these blogs
      <div style = "margin-left: 55px;">
        place holder
      </div>
    </div>
    </a>
    <a href="#" class="list-group-item list-group-item-action text-white" style = "background-color: MidnightBlue;">A second link item</a>
    <a href="#" class="list-group-item list-group-item-action text-white" style = "background-color: MidnightBlue;">A third link item</a>
    <a href="#" class="list-group-item list-group-item-action text-white" style = "background-color: MidnightBlue;">A fourth link item</a>
    <a href="#" class="list-group-item list-group-item-action text-white" style = "background-color: MidnightBlue;">A fourth link item</a>
    <a href="#" class="list-group-item list-group-item-action text-white" style = "background-color: MidnightBlue;">Explore all of Tumblr</a>
    <a href="#" class="pe-auto">Explore all of Tumblr</a>
  </div>


  <nav class="navbar navbar-expand-lg navbar-light bg-light center" style="background-color: #e3f2fd; margin-right: 800px; margin-left: 200px;">
    <div style="text-align:center; width:100%;"> 
      <a class="navbar-brand" href="#">
        <img src="https://icon-library.com/images/language-icon-png/language-icon-png-17.jpg" alt="" width="70" height="85">
        <a class="nav-link text-danger" href="#">   
        <svg class="bi" width="24" height="24" color="primary">
                <use xlink:href="bootstrap-icons.svg#camera"></use>
              </svg> 
        </a>
        <a class="nav-link text-warning" href="#">
          <svg class="bi" width="24" height="24" color="primary">
                <use xlink:href="bootstrap-icons.svg#chat-quote"></use>
              </svg>
        </a>
        <a class="nav-link text-success" href="#">
          <svg class="bi" width="24" height="24" color="primary">
                <use xlink:href="bootstrap-icons.svg#link"></use>
              </svg>  
        </a>
        <a class="nav-link text-$purple:  #6f42c1;" href="#">
          <svg class="bi" width="24" height="24" color="primary">
                <use xlink:href="bootstrap-icons.svg#chat-left-text"></use>
              </svg> 
        </a>
        <a class="nav-link text-primary" href="#">
          <svg class="bi" width="24" height="24" color="primary">
                <use xlink:href="bootstrap-icons.svg#music-note-list"></use>
              </svg>
              </a>
              <a class="nav-link text-black" href="#">
          <svg class="bi" width="24" height="24" color="primary">
                <use xlink:href="bootstrap-icons.svg#camera-reels"></use>
              </svg>
              </a>
      </a>
    </div>
  </nav>

  <div class="card" style="text-align:center; width:1000px; height: 600px;">
    <img src="https://filmdaily.co/wp-content/uploads/2020/04/cute-cat-videos-lede-1300x882.jpg" class="card-img-top">
    <div class="card-body">
      <h5 class="card-title">Cute cat pics</h5>
      <p class="card-text">My little kitty sitting on a rug</p>
      <a href="#" class="btn btn-primary">Link to profile</a>
    </div>
  </div>