<nav class="navbar sticky-top p-1" style="
background-color:rgb(8, 34, 73);
border-bottom: dimgrey solid 2px;">

  <li class="nav-item">
      <a class="navbar-brand" href="#">
        <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fassets.tumblr.com%2Fimages%2Flogo_page%2F1x%2Ft-white.png%3F_v%3Dcfb17e78e1861ba32bcf0e3ed2ac774d&f=1&nofb=1" alt="" width="70" height="85">
      </a> 
    </li>    
  <form class="d-flex" style = "">
    <input class="form-control me-2" type="search" placeholder="Search Tumblr" aria-label="Search">
  </form>
  
    <div class = "navbar">
          <a class="nav-link text-white " href="#">
            <svg class="bi" width="24" height="24" color="white">
                <use xlink:href="bootstrap-icons.svg#house"></use>
            </svg> 
            </a>
          <a class="nav-link text-white" href="#">
            <svg class="bi" width="24" height="24" color="white">
              <use xlink:href="bootstrap-icons.svg#compass"></use>
            </svg> 
            </a>
          <a class="nav-link text-white" href="#">
            <svg class="bi" width="24" height="24" color="white">
              <use xlink:href="bootstrap-icons.svg#envelope"></use>
            </svg> 
            </a>
          <a class="nav-link text-white" href="#">
              <svg class="bi" width="24" height="24" color="white">
                <use xlink:href="bootstrap-icons.svg#chat"></use>
              </svg> 
              </a>
          <a class="nav-link text-white" href="#">
              <svg class="bi" width="24" height="24" color="white">
                <use xlink:href="bootstrap-icons.svg#lightning-charge"></use>
                    </svg> 
                    </a>
              <a class="nav-link text-white" href="#">
                 <svg class="bi" width="24" height="24" color="white">
                    <use xlink:href="bootstrap-icons.svg#person"></use>
                  </svg> 
                  </a>
              <a class="nav-link text-primary" href="#">
                <svg class="bi" width="24" height="24" color="primary">
                      <use xlink:href="bootstrap-icons.svg#pencil"></use>
                    </svg> 
                    </a>
              </div>      
  </nav>

    PLACE HOLDER