<div class="navbar navbar-light bg-light rounded body "> 
    <a class="navbar navbar-brand" href="#">
      <img src="https://icon-library.com/images/language-icon-png/language-icon-png-17.jpg" alt="" width="70" height="85">
      <a class="nav-link text-danger" href="#">   
      <svg class="bi" width="24" height="24" color="primary">
              <use xlink:href="bootstrap-icons.svg#camera"></use>
            </svg> 
      </a>
      <a class="nav-link text-warning" href="#">
        <svg class="bi" width="24" height="24" color="primary">
              <use xlink:href="bootstrap-icons.svg#chat-quote"></use>
            </svg>
      </a>
      <a class="nav-link text-success" href="#">
        <svg class="bi" width="24" height="24" color="primary">
              <use xlink:href="bootstrap-icons.svg#link"></use>
            </svg>  
      </a>
      <a class="nav-link text-$purple:  #6f42c1;" href="#">
        <svg class="bi" width="24" height="24" color="primary">
              <use xlink:href="bootstrap-icons.svg#chat-left-text"></use>
            </svg> 
      </a>
      <a class="nav-link text-primary" href="#">
        <svg class="bi" width="24" height="24" color="primary">
              <use xlink:href="bootstrap-icons.svg#music-note-list"></use>
            </svg>
            </a>
            <a class="nav-link text-black" href="#">
        <svg class="bi" width="24" height="24" color="primary">
              <use xlink:href="bootstrap-icons.svg#camera-reels"></use>
            </svg>
            </a>
    </a>