
 <a href="#" class = "btn"> <h5 class="" style = "margin-left: -75%; padding-top:10px;" width="400px">
  Cats312 
  <span style="color: dodgerblue;">follow</span>
  <span class = "textColor">
    {{title}}
          </span>
    </h5>
    </a>
    <img src="./assets/twiz.jpg" class="card-img-top" style="width:400px; height: 500px;">
  <div class="card-body">
    <h5 class="card-title">Cute cat pics</h5>
    <p class="card-text">My little kitty sitting on a rug</p>
    <a href="#" class="btn btn-primary">Link to profile</a>
  </div>
