<div class="list-group sideBarSize">

    <a href="#" class="list-group-item list-group-item-action text-white" aria-current="true" style = "background-color: rgb(8, 34, 73);">
      <div style = "font-size: larger;">
      <h1 class="textColor bottomLine">{{title}}</h1>
        </div>
    </a>
    <a href="#" class="list-group-item list-group-item-action text-white" style = "background-color: rgb(8, 34, 73);">
      <h1 class="textColor">{{username}}</h1>
      <h1 class="textColor textSize">{{userDescrip}}</h1>
    </a>
    <a href="#" class="list-group-item list-group-item-action text-white" style = "background-color: rgb(8, 34, 73);"> 
      <h1 class="textColor">{{username}}</h1>
      <h1 class="textColor textSize">{{userDescrip}}</h1>
    </a>
    <a href="#" class="list-group-item list-group-item-action text-white" style = "background-color: rgb(8, 34, 73);">
      <h1 class="textColor">{{username}}</h1>
      <h1 class="textColor textSize">{{userDescrip}}</h1>
    </a>
    <a href="#" class="list-group-item list-group-item-action text-white" style = "background-color: rgb(8, 34, 73);">
      <h1 class="textColor">{{username}}</h1>
      <h1 class="textColor textSize">{{userDescrip}}</h1></a>
    <a href="#" class="list-group-item list-group-item-action text-white" style = "background-color: rgb(8, 34, 73);">
      <a href="#" class="pe-auto">Explore all of Tumblr</a>
      </a>
  </div>