<div class="list-group"  Style = "margin-left: 1375px;">

    <a href="#" class="list-group-item list-group-item-action text-white" aria-current="true" style = "background-color: MidnightBlue;">
      <div style = "font-size: larger;">
      Check out these blogs
      <div style = "margin-left: 55px;">
        place holder
      </div>
    </div>
    </a>
    <a href="#" class="list-group-item list-group-item-action text-white" style = "background-color: MidnightBlue;">A second link item</a>
    <a href="#" class="list-group-item list-group-item-action text-white" style = "background-color: MidnightBlue;">A third link item</a>
    <a href="#" class="list-group-item list-group-item-action text-white" style = "background-color: MidnightBlue;">A fourth link item</a>
    <a href="#" class="list-group-item list-group-item-action text-white" style = "background-color: MidnightBlue;">A fourth link item</a>
    <a href="#" class="list-group-item list-group-item-action text-white" style = "background-color: MidnightBlue;">Explore all of Tumblr</a>
    <a href="#" class="pe-auto">Explore all of Tumblr</a>
  </div>