
 <div class="card textColor body" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">{{username}} 
            <span style="color: dodgerblue;">Follow</span>
        </h5>
        <p class="card-text">{{caption}}</p>
      </div>

    <img src={{ImagePath}} class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{username}} </h5>
      <p class="card-text">{{caption}}</p>
      <a href="#" class="btn btn-primary">{{ProfilePic}}</a>
    </div>
  </div>