<div class=" bg">
    <div class="row">
        <div class="body white bg bottomLine navbar">
            <a class="nav-link text-danger" href="#">
                {{title}}
                <svg class="bi" width="24" height="24" color="text-danger">
                    <use xlink:href="bootstrap-icons.svg#heart"></use>
                </svg>
            </a>
            <a class="nav-link white" href="#">
                {{trending}}
                <svg class="bi" width="24" height="24" color="text-danger">
                    <use xlink:href="bootstrap-icons.svg#truck"></use>
                </svg>
            </a>
            <a class="nav-link white" href="#">
                {{picks}}
                <svg class="bi" width="24" height="24" color="text-warning">
                    <use xlink:href="bootstrap-icons.svg#star"></use>
                </svg>
            </a>
            <a class="nav-link white" href="#">
                {{more}}
                <svg class="bi" width="24" height="24" color="text-white">
                    <use xlink:href="bootstrap-icons.svg#arrow-down-circle"></use>
                </svg>
            </a>
        </div>
        <div class="col-3">
            left col
        </div>
        <div class="col">
            <div class="container-fluid">
                <div class=".d-flex.flex-row">
                <div *ngFor="let postCard of postCard">
                    <post-card username={{postCard.username}}  ProfilePic={{postCard.ProfilePic}} ImagePath={{postCard.ImagePath}}>Loading posts</post-card>
                </div>
                <div *ngFor="let postCard of postCard">
                    <post-card username={{postCard.username}}>Loading posts</post-card>
                </div>
                <div *ngFor="let postCard of postCard">
                    <post-card username={{postCard.caption}}>Loading posts</post-card>
                </div>
                    From Firebase
                    <p *ngIf="posts==undefined"> Failed fetching from server</p>

<div *ngIf="posts!=undefined">
    <div class="container-fluid">
        <div class="d-flex flex-row justify-content-between">
            <div class="flex-column">
                username:{{posts.username}}</div>
            <div class="flex-column">
                mediaBar:{{posts.mediaBar}}</div>
            <div class="flex-column">
                caption:{{posts.caption}}
            </div>
        </div>
    </div>
</div>
                    Regular post card
                    <post-card>Loading posts</post-card>
                </div>
            </div>
        </div>
        <div class="col ps-0">
            <side-nav-bar>Loading</side-nav-bar>
        </div>